<<<<<<< HEAD
@import "../theme/colors.css";
@import "../theme/spotify.css";

* {
  border: none;
  border-radius: 0;
  font-size: 15px;
  min-height: 0;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
}

#waybar {
  padding: 0;
  background: transparent;
  color: @bar_text;
  font-family: "Adwaita Sans", "Fira Code Nerd Font";
  font-weight: bold;
}

#custom-power {
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5px;
  margin-top: 5px;
  background: @button_hover;
  border-radius: 0;
}

#custom-power:hover {
  background-color: @button
}

#window {
  padding-left: 24px;
  padding-right: 24px;
  margin: 5px 0 5px 0;
  background: @button;
  border-radius: 18px;
}

#window:hover {
  background: @button_hover
}

#workspaces {
  background-color: @button_hover;
  padding-left: 10px;
  padding-right: 0;
  border-radius: 0 18px 18px 0;
  margin: 5px 0 5px 0;
}

#tray {
  background: @button;
  margin: 5px 0 5px 1rem;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
}

#workspaces button {
  color: @bar_text;
  border-radius: 0;
  margin: 0 5px 0 5px;
  transition: all ease-in 250ms;
=======
@import "../../.cache/wal/colors-waybar.css";
/*@import "../theme/spotify.css";*/

* {
  all: unset;
}

#waybar {
  background: transparent;
  font-family: "Adwaita Sans";
  font-weight: bolder;
  font-size: 15;
  color: @color7;
}

tooltip label {
  background-color: @color0;
  border: 2px solid @color2;
  border-radius: 4px;
  padding: 0 12px 0 12px;
  margin: 5px 0 0 5px;
}

#custom-power {
  padding: 0 13px 0 8px;
  border-radius: 4px;
  margin: 5px 0 0 5px;
  background: @color0;
  border: 2px solid @color2;
}

#custom-power:hover {
  background-color: @color1;
}

#window {
  padding: 0 8px 0 8px;
  margin: 5px 0 0 5px;
  background: @color0;
  border: 2px solid @color2;
  border-radius: 4px;
}

#window:hover {
  background: @color1;
}

#workspaces {
  margin: 5px 0 0 5px;
  background-color: @color0;
  border: 2px solid @color2;
  border-radius: 4px;
}

#tray {
  background: @color0;
  margin: 5px 0 0 5px;
  padding: 0 1rem 0 1rem;
  border: 2px solid @color2;
  border-radius: 5px;
}

#tray:hover {
  background: @color1;
}

#tray menu {
  padding: 8px;
  background: @color0;
  border: 2px solid @color2;
  border-radius: 4px;
}

#tray menuitem {
  padding: 4px 8px;
  border-radius: 4px;
  transition: all ease-in 150ms;
}

#tray menuitem:hover {
  background: @color1;
}

#workspaces button {
  border-radius: 4px;
  margin: 2px;
  padding: 0 12px 0 12px;
  transition: all ease-in 250ms;
  border: 2px solid transparent;
>>>>>>> 8a1280a (updated configuration)
}

#workspaces button.empty {
  color: rgb(209, 171, 171);
}

#workspaces button.active {
<<<<<<< HEAD
  transition: all ease-in 100ms;
  border-radius: 18px;
  background: @button;
}

#workspaces button:hover {
  background: @button;
  border-color: transparent;
  border-radius: 18px;
  border-top: 1px;
  border-bottom: 1px;
=======
  transition: all ease-in 50ms;
  border: 2px solid @color2;
}

#workspaces button:hover {
  background: @color1;
>>>>>>> 8a1280a (updated configuration)
}

#workspaces button.urgent {
  color: tomato;
}

#mpris {
<<<<<<< HEAD
  margin: 5px 0 5px 0; 
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 1rem;
  background: @button;
  border-radius: 5px;
=======
  margin: 5px 0 0 5px;
  background: @color0;
  border-radius: 4px;
  border: 2px solid @color2;
>>>>>>> 8a1280a (updated configuration)
  font-weight: lighter;
}

#mpris.spotify {
<<<<<<< HEAD
  background: @spotify;
  color: @spotify-text;
}

#battery {
  background: @button;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 18px 0 0 18px;
  margin: 5px 0 5px 0;
=======
  background: @color1;
  color: @color0;
}

#battery {
  background: @color0;
  padding: 0 12px 0 12px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 0 0 5px;
>>>>>>> 8a1280a (updated configuration)
}

#battery.charging {
  color: rgb(114, 255, 114);
}

#battery.warning:not(.charging) {
  color: tomato;
}

#battery:hover {
<<<<<<< HEAD
  background-color: @button_hover;
}

#network {
  background: @button;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#network:hover {
  background-color: @button_hover;
}

#power-profiles-daemon {
  background: @button;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#power-profiles-daemon:hover {
  background-color: @button_hover;
}

#bluetooth {
  background: @button;
  margin: 5px 0 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#bluetooth:hover {
  background-color: @button_hover;
}

#pulseaudio {
  background: @button;
  margin: 5px 0 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#pulseaudio:hover {
  background-color: @button_hover;
}

#clock {
  background: @button;
  border-radius: 0 18px 18px 0;
  margin: 5px 8px 5px 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

#clock:hover {
  background-color: @button_hover;
=======
  background-color: @color1;
}

#network {
  background: @color0;
  padding: 0 12px 0 12px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 0 0 5px;
}

#network:hover {
  background-color: @color1;
}

#power-profiles-daemon {
  background: @color0;
  padding: 0 15px 0 10px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 0 0 5px;
}

#power-profiles-daemon:hover {
  background-color: @color1;
}

#bluetooth {
  background: @color0;
  padding: 0 12px 0 12px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 0 0 5px;
}

#bluetooth:hover {
  background-color: @color1;
}

#pulseaudio {
  background: @color0;
  padding: 0 13px 0 8px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 0 0 5px;
}

#pulseaudio:hover {
  background-color: @color1;
}

#clock {
  background: @color0;
  padding: 0 13px 0 8px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 5px 0 5px;
}

#clock:hover {
  background-color: @color1;
>>>>>>> 8a1280a (updated configuration)
}
