/*@import "../../.cache/wal/colors-waybar.css";*/
@import "colors.css";
/*@import "../theme/spotify.css";*/

* {
  all: unset;
}

#waybar {
  background: transparent;
  font-family: "JetBrains Mono";
  font-weight: bolder;
  font-size: 15px;
  color: @on_surface;
}

tooltip label {
  background-color: @background;
  border-radius: 18px;
  padding: 0 12px;
  margin: 5px 0 0 5px;
}

#custom-power {
  padding: 0 13px 0 9px;
  border-radius: 18px;
  margin: 5px 0 0 5px;
  background: @background;
}

#custom-power:hover {
  background-color: @primary;
  color: @on_primary;
}

#window {
  padding: 0 24px;
  margin: 5px 0 0 5px;
  background: @primary;
  color: @on_primary;
  border-radius: 18px;
}

#workspaces {
  margin: 5px 0 0 5px;
  padding: 0 4px;
  background-color: @background;
  border-radius: 18px;
} 

#workspaces button {
  transition: all ease-in-out 200ms;
  background: @secondary;
  color: @on_secondary;
  border-radius: 16px;
  margin: 6px 3px;
  padding: 0 12px 0 12px;
}

#workspaces button.empty {
  background: @surface_variant;
  color: @on_surface_variant;
}

#workspaces button.active {
  min-width: 30px;
  background: @primary;
  color: @on_primary;
}

#workspaces button:hover {
  background: @primary;
  color: @on_primary;
  transition: all ease-in 100ms;
}

#workspaces button.urgent {
  color: tomato;
}

#tray {
  background: @surface;
  color: @on_surface;
  margin: 5px 0 0 5px;
  padding: 0 1rem 0 1rem;
  border-radius: 18px 0 0 18px;
  transition: all ease-in-out 200ms;
}

#tray menu {
  padding: 8px;
  background: @surface;
  border-radius: 18px;
}

#tray menuitem {
  padding: 4px 8px;
  margin: 5px 0;
  border-radius: 8px;
  background-color: @surface_variant;
  color: @on_surface_variant;
  transition: all ease-in 150ms;
}

#tray menuitem:disabled {
  background-color: @surface;
  color: @on_surface;
}

#tray menuitem:hover {
  background: @primary;
  color: @on_primary;
}

#tray:hover {
  background-color: @primary;
  color: @on_primary;
  transition: none;
}

#mpris {
  margin: 5px 0 0 5px;
  background: @background;
  border-radius: 18px;
  transition: all ease-in-out 200ms;
}

#mpris:hover {
  background-color: @primary;
  color: @on_primary;
  transition: none;
}

#battery {
  background: @surface;
  color: @on_surface;
  padding: 0 12px 0 12px;
  margin: 5px 0 0 0;
  transition: all ease-in-out 200ms;
}

#battery.charging {
  color: rgb(114, 255, 114);
}

#battery.warning:not(.charging) {
  color: tomato;
}

#battery:hover {
  background-color: @primary;
  color: @on_primary;
  transition: none;
}

#network {
  background: @background;
  padding: 0 12px 0 12px;
  border-radius: 4px;
  border: 2px solid @color2;
  margin: 5px 0 0 5px;
}

#power-profiles-daemon {
  background: @surface;
  color: @on_surface;
  padding: 0 12px 0 9px;
  margin: 5px 0 0 0;
  transition: all ease-in-out 200ms;
}

#power-profiles-daemon:hover {
  background-color: @primary;
  color: @on_primary;
  transition: none;
}

#bluetooth {
  background: @surface;
  color: @on_surface;
  padding: 0 12px 0 12px;
  margin: 5px 0 0 0;
}

#bluetooth:hover {
  background-color: @primary;
  color: @on_primary;
}

#pulseaudio {
  background: @surface;
  color: @on_surface;
  padding: 0 12px 0 12px;
  margin: 5px 0 0 0;
  transition: all ease-in-out 200ms;
}

#pulseaudio:hover {
  background-color: @primary;
  color: @on_primary;
  transition: none;
}

#clock {
  background: @surface;
  color: @on_surface;
  padding: 0 12px 0 12px;
  margin: 5px 5px 0 0;
  border-radius: 0 18px 18px 0;
  transition: all ease-in-out 200ms;
}

#clock:hover {
  background-color: @primary;
  color: @on_primary;
  transition: none;
}

