<<<<<<< HEAD
@import '/home/ramos/.config/theme/colors.css';
=======
@import "/home/ramos/.cache/wal/colors-waybar.css";
>>>>>>> 8a1280a (updated configuration)

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

<<<<<<< HEAD
#window {
    font-size: 15px;
    font-family: "Space Mono";
    font-weight: bold;
    background: transparent;
    border-radius: 10px;
=======
* {
    all: unset;
}

#window {
    font-size: 15px;
    font-family: "Adwaita Sans";
    font-weight: bold;
    background-color: @color0;
  border: 2px solid @color2;
  border-radius: 4px;
  padding: 0 12px 0 12px;
  margin: 5px 0 0 5px;
>>>>>>> 8a1280a (updated configuration)
    animation: slideIn 0.5s ease-in-out both;
}

#entry{
<<<<<<< HEAD
    margin: 5px 5px;
    padding-left: 30px;
    color: @bar_text;
}

#entry:selected {
    /* background-color: rgba(187,204,221,0.5); */
    background: linear-gradient(45deg, @bar 40%, @button 100%);
    border-radius: 10px;
    outline: none;
=======
    transition: all, 500ms, ease-in, 200ms;
    background-color: @color0;
  border: 2px solid @color0;
  border-radius: 4px;
  margin: 5px 0 0 5px;
  padding: 0 12px 0 12px;
}

#entry:selected {
    background-color: @color0;
    border: 2px solid @color2;
    border-radius: 4px;
    margin: 5px 0 0 5px;
  padding: 0 12px 0 12px;

>>>>>>> 8a1280a (updated configuration)
}

#expander-box {
    background: transparent;
}

#input{
<<<<<<< HEAD
    background-color: @button;
    border-radius: 8px 8px 0 0;
    font-size: 20px;
    font-weight: 500;
    color: white;
=======
    background-color: @color1;
    border-radius: 8px 8px 0 0;
    font-size: 20px;
    font-weight: 500;
>>>>>>> 8a1280a (updated configuration)
    padding: 0 8px 0 8px;
    box-shadow: none; 
    border: none;
}

#input:focus{
<<<<<<< HEAD
    color: @bar_text;
=======
    color: @color0;
>>>>>>> 8a1280a (updated configuration)
    font-weight: bold;
}

#img{
    padding-right:10px;
}

#outer-box{
    box-shadow: none;
    border-radius: 5px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;
<<<<<<< HEAD
    background: @bar_transparency;
=======
    background: transparent;
>>>>>>> 8a1280a (updated configuration)
}

#inner-box {
    padding: 10px;
    animation: fadeIn 0.5s ease-in-out both;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8a1280a (updated configuration)
